
// pouzite barvy
$primary:  #f03000;
$dark:  #444444;
$grey:  #888888;
$light:  #e5e5e5;
$soft:  #f5f5f5;

// pouzite fonty

$default-font: "Open Sans", sans-serif;
$headers-font: "Montserrat", sans-serif;

$pad: 10px
